html, main {
	height: 100%;
}
body {
	margin: 65px auto 0;
	background-attachment: fixed;
	background-position-x: 60%;
	background-position-y: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:1;
	height: calc(100% - 65px);
	position: relative;
}

main {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hello-text {
    left: 51px;
	top: 55px;
}

.hello-text span {
	background: #fff;
}
.status {
	font-size: 22pt;
	font-weight: 500;
    line-height: 45px;
}
.emitents {
	font-size: 15pt;
	font-weight: 500;
}
.welcome {
	font-size: 45pt;
	font-weight: 700;
}
#clock, .hello-text {
	font-family: Montserrat,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	position: absolute;
	margin:0;
}
#clock {
	right: 60px;
	top: 55px;
	font-size: 30pt;
	font-weight: 500;
	color: #fff;
	width: 170px;
	min-width: 170px;
}
.history {
	position: absolute;
	min-width: 440px;
	bottom: 55px;
	left: 50px;
	background-color:#fff;
	cursor:pointer;
	max-height: 300px;
	transition: all 0.5s;
	z-index: 2;
}
.hist-inner {
	overflow-y: auto;
}
.hist-top {
	display: none;
	color: black;
	border-bottom: 0.5px solid grey;
}
#hist-close {
	align-self: center;
	margin-left: 12px;
}
.full {
	width: 800px;
    left: calc(50% - 400px);
    height: 80%;
	bottom: 10%;
    max-height: unset;
    z-index: 4;
}
::-webkit-scrollbar { 
    display: none; 
}
.dark {
	z-index: 3;
	opacity: .6;
}
.hist-back {
	transition: opacity 0.5s;
}
.mdc-card__actions--full-bleed .mdc-card__action--button {
    padding: 8px 16px 8px 24px;
}	
.mdc-list {
	padding: 6px 0 0;
}
.mdc-list-item__text {
	font-size: .95rem;
	letter-spacing: .02em;
}
.mdc-list-item__secondary-text {
	font-size: .85rem;
}