{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>Главная | Досье Эмитента</title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'new/img/favicon-32x32.png' %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static 'new/img/favicon-16x16.png' %}" sizes="16x16">

    <link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'new/css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'new/css/material-components-web.min.css' %}" rel="stylesheet">
	<link href="{% static 'new/css/all.css' %}" rel="stylesheet">
	<link href="{% static 'new/css/main.css' %}" rel="stylesheet">
</head>

<body class="mdc-typography" onresize="resizing();">

{% include 'navbar_new.html' %}

    <main>
		<p class="hello-text">
			<span class="welcome"></span>
			<br>
			<span class="status">Система <span style="color:#00E676;">активна</span></span>
			<br>
			<span class="emitents">Эмитентов: <b>{{count}}</b></span>
		</p>
		
		<p id="clock"></p>
		
		<div class="mdc-elevation--z5 history">
			<div class="mdc-toolbar hist-top">
				<div class="mdc-toolbar__row">
					<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
						<i id="hist-close" class="material-icons mdc-icon-toggle md-30"
						   role="button" onclick="">close</i>
						<span class="mdc-toolbar__title">Все последние изменения</span>
					</section>
				</div>
			</div>
			<div class="hist-inner">
				<ul class="mdc-list mdc-list--two-line mdc-list--avatar-list demo-list 
						   demo-list--with-avatars demo-list--icon-placeholders">
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №3189
							<span class="mdc-list-item__secondary-text">6 Фев 17:44, <b>Игорь Сенгаев</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">file_upload</i>
						</span>
						<span class="mdc-list-item__text">
							Обновление базы
							<span class="mdc-list-item__secondary-text">6 Фев 10:30, <b>Sleep3r</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №25306
							<span class="mdc-list-item__secondary-text">6 Фев 9:50, <b>andrianov20</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
					<li class="mdc-list-item">
						<span class="mdc-list-item__graphic" role="presentation">
							<i class="material-icons" aria-hidden="true">edit</i>
						</span>
						<span class="mdc-list-item__text">
							Редактирование эмитента №xxx
							<span class="mdc-list-item__secondary-text">1 Янв 00:00, <b>Sample user</b></span>
						</span>
						<a class="mdc-list-item__meta material-icons" aria-label="View more information" title="More info" onclick="event.preventDefault();">
							info
						</a>
					</li>
				</ul>
			</div>
			<div class="mdc-card__actions mdc-card__actions--full-bleed">
				<a class="mdc-button mdc-card__action mdc-card__action--button hist-action" data-mdc-auto-init="MDCRipple">
					ВСЕ ПОСЛЕДНИЕ ИЗМЕНЕНИЯ
					<i class="material-icons" aria-hidden="true">arrow_forward</i>
				</a>
			</div>
		</div>
		<div class="hist-back mdc-dialog__backdrop"></div>
		
    </main>

    <!-- Если разместить js-скрипты в конце будет вроде как лучше -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'new/js/material-components-web.min.js' %}"></script>
	<script src="{% static 'new/js/general.js' %}"></script>
	<script src="{% static 'new/js/main.js' %}"></script>
</body>

</html>