{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>Обновление | Досье Эмитента</title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'new/img/favicon-32x32.png' %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static 'new/img/favicon-16x16.png' %}" sizes="16x16">

    <link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'new/css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'new/css/material-components-web.min.css' %}" rel="stylesheet">
	<link href="{% static 'new/css/all.css' %}" rel="stylesheet">
	<link href="{% static 'new/css/update.css' %}" rel="stylesheet">
</head>

<body class="mdc-typography" onresize="resizing();">
	
{% include 'navbar_new.html' %}

	<main>
		<div id="tiles-cont"></div>
		<div id="tiles-back"></div>
		<div class="form-cont">
			<form action="/db_update/" method="POST" id="upd" enctype="multipart/form-data" class="mdc-elevation--z5">
				{% csrf_token %}
				<h1 class="mdc-typography--display3 form-heading">Обновление базы</h1>
				<div class="info">
					<div class="db-icon">
						<img src='/static/new/img/db.png'>
					</div>
					<p class="last-version mdc-typography--subheading1"><span class="mdc-typography--title">Последняя версия загружена: </span>{{last_upload}}</p>
					<p class="instruct mdc-typography--body1">
						Здесь будут какие-то рекомендации и инструкции по загрузке файлов или описание процесса в стиле:
						"Пожалуйста, выберите файл Excel, который вы хотите загрузить, нажмите кнопочку - и начнётся процесс его обработки!"
					</p>
					{{ form.docfile }}
					<button type="button" class="mdc-button mdc-button--stroked file-btn" data-mdc-auto-init="MDCRipple">
						<i class="material-icons mdc-button__icon">folder</i>
						<span>Выберите новый файл<span>
					</button>
					<button type="button" onclick="launchTiles();" class="update-btn mdc-button mdc-button--unelevated" data-mdc-auto-init="MDCRipple">
						Загрузить
					</button>
				</div>
			</form>
		</div>
	</main>
	
	<!-- Если разместить js-скрипты в конце будет вроде как лучше -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'new/js/material-components-web.min.js' %}"></script>
	<script src="{% static 'new/js/general.js' %}"></script>
	<script src="{% static 'new/js/update.js' %}"></script>
</body>

</html>
